/* ./src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@layer base {
  body {
    @apply bg-[#F9FAFB] text-gray-500;
  }
}

html {
  font-family: "PT Sans", sans-serif !important;
}

.web-container {
  margin: 0px auto;
  max-width: 1280px;
  padding: 0 100px;
}

.section-container {
  padding: 50px 100px;
}

@media (max-width: 560px) {
  .web-container {
    padding: 0 40px;
    margin: 20px 0 !important;
  }
  .section-container {
    padding: 20px 20px;
  }
  .hero-content {
    width: 100% !important;
  }
}

.hero-content {
  width: 50%;
}

/* SERVICE SECTION */
.services-section {
  width: 100%;
  min-height: 300px;
}

.services-card {
  width: 100px;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
}

/* DETAILED SERVICE SECTION */
.detailed-services-section {
  padding: 50px 100px;
}

.detailed-services-heading {
  font-style: bold;
  font-size: 2rem;
}

@media (max-width: 560px) {
  .detailed-services-section {
    padding: 30px 20px;
  }
}
